@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("../assets/fonts/AvenirNextCyr-Bold.eot");
  src: local("Avenir Next Cyr Bold"), local("AvenirNextCyr-Bold"), url("../assets/fonts/AvenirNextCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/AvenirNextCyr-Bold.woff") format("woff"), url("../assets/fonts/AvenirNextCyr-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("../assets/fonts/AvenirNextCyr-Thin.eot");
  src: local("Avenir Next Cyr Thin"), local("AvenirNextCyr-Thin"), url("../assets/fonts/AvenirNextCyr-Thin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/AvenirNextCyr-Thin.woff") format("woff"), url("../assets/fonts/AvenirNextCyr-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Uni Sans Heavy CAPS';
  src: url("../assets/fonts/UniSansHeavyCAPS.eot");
  src: local("Uni Sans Heavy CAPS"), local("UniSansHeavyCAPS"), url("../assets/fonts/UniSansHeavyCAPS.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/UniSansHeavyCAPS.woff") format("woff"), url("../assets/fonts/UniSansHeavyCAPS.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Paddis Handwritten';
  src: url("../assets/fonts/PaddisHandwritten.eot");
  src: local("Paddis Handwritten Medium"), local("PaddisHandwritten"), url("../assets/fonts/PaddisHandwritten.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/PaddisHandwritten.woff") format("woff"), url("../assets/fonts/PaddisHandwritten.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'LemonMilk';
  src: url("../assets/fonts/LemonMilk.eot");
  src: url("../assets/fonts/LemonMilk.eot") format("embedded-opentype"), url("../assets/fonts/LemonMilk.woff2") format("woff2"), url("../assets/fonts/LemonMilk.woff") format("woff"), url("../assets/fonts/LemonMilk.ttf") format("truetype"), url("../assets/fonts/LemonMilk.svg#LemonMilk") format("svg"); }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Avenir Next Cyr Bold', Arial, sans-serif;
  color: #fff;
  font-size: 12px;
  position: relative; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.container {
  width: 1000px;
  margin: 0 auto; }

.main-bg {
  position: relative;
  padding-bottom: 290px;
  width: 100%;
  background: url(../assets/images/main-bg.png) center/cover no-repeat, -webkit-gradient(linear, left top, left bottom, from(#3257c8), to(#448dcd));
  background: url(../assets/images/main-bg.png) center/cover no-repeat, linear-gradient(to bottom, #3257c8, #448dcd); }
  .main-bg--library {
    padding-bottom: 15px;
    background-size: 200% cover; }

.box {
  min-height: 350px; }

.page-header {
  padding-top: 35px;
  padding-right: 30px;
  padding-left: 55px;
  margin-bottom: 60px;
  padding-bottom: 10px; }

.main-nav {
  float: left;
  min-height: 60px; }
  .main-nav__list {
    line-height: 55px; }
  .main-nav__item {
    list-style: none;
    display: inline-block;
    margin-right: 40px; }
  .main-nav__item:last-child {
    margin-right: 0; }
  .main-nav__link {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    -webkit-transition: border 0.2s;
    transition: border 0.2s; }
    .main-nav__link:hover {
      border-bottom: 4px solid #fff;
      cursor: pointer; }
    .main-nav__link--active {
      border-bottom: 4px solid #fff; }
      .main-nav__link--active:hover {
        cursor: default; }

.logout-btn {
  position: relative;
  float: right; }
  .logout-btn__description {
    position: absolute;
    height: 70px;
    width: 275px;
    background: url(../assets/images/left-arrow.png) left center no-repeat, url(../assets/images/right-arrow.png) right bottom no-repeat;
    top: 30px;
    right: -5px;
    padding-left: 40px;
    padding-right: 35px;
    padding-bottom: 4px;
    text-align: center;
    padding-top: 35px; }
  .logout-btn:hover {
    cursor: pointer; }

.logout {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 60px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  width: 230px;
  border: 5px solid #ffed00;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: url(../assets/images/btn-bg.png) no-repeat, -webkit-gradient(linear, left top, right top, from(#1da2e2), to(#1d9cdf));
  background: url(../assets/images/btn-bg.png) no-repeat, linear-gradient(to right, #1da2e2, #1d9cdf);
  background-position: 85% center; }

.slogan {
  width: 545px;
  float: right;
  text-align: left;
  position: relative; }
  .slogan__logo {
    position: absolute;
    top: -60px;
    left: -440px; }
  .slogan__text {
    font-family: 'Paddis Handwritten';
    font-size: 44px;
    padding-right: 45px;
    background: url(../assets/images/arrow-down.png) right 20px no-repeat; }
  .slogan__title {
    font-family: 'Uni Sans Heavy CAPS';
    font-size: 50px;
    text-transform: uppercase;
    margin-top: 5px; }
  .slogan__subtitle {
    font-family: 'Uni Sans Heavy CAPS';
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 11px;
    background: url(../assets/images/wave-line.png) left bottom no-repeat;
    background-size: 380px 11px; }

.promo {
  padding-bottom: 75px;
  min-width: 1160px;
  position: absolute;
  top: 350px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  background: url(../assets/images/man.png) left top no-repeat, url(../assets/images/girl.png) right 10px no-repeat; }
  .promo__wrapper {
    width: 545px;
    margin: 0 auto; }
  .promo__center {
    text-align: center; }

.time {
  font-size: 22px;
  padding-left: 35px;
  padding-right: 35px; }
  .time__date {
    display: inline-block;
    text-align: center;
    margin-right: 50px;
    line-height: 20px; }
  .time__value {
    font-family: 'Uni Sans Heavy CAPS';
    font-size: 56px;
    display: inline-block; }
  .time__text {
    font-size: 12px; }
  .time__about {
    display: inline-block;
    text-align: left;
    width: 120px;
    line-height: 35px;
    font-size: 27px; }

.video {
  height: 304px;
  width: 100%;
  margin-bottom: 28px;
  position: relative;
  top: 25px;
  background: black; }
  .video:hover {
    cursor: pointer; }
  .video--medium {
    width: 327px;
    height: 184px; }
  .video--mini {
    width: 200px;
    height: 113px;
    margin-bottom: 19px;
    background: black; }
    .video--mini:hover {
      cursor: pointer; }

.info {
  color: #000;
  font-size: 18px;
  text-align: center;
  width: 390px;
  margin: 0 auto;
  margin-bottom: 17px;
  position: relative; }
  .info:after {
    content: "";
    width: 47px;
    height: 44px;
    position: absolute;
    top: 30px;
    right: -60px;
    background: url(../assets/images/arrow-down-blue.png) no-repeat; }
  .info__link {
    color: #4186cc; }

.enter {
  width: 150px;
  background: transparent;
  border: 3px solid #fb8605;
  border-bottom: 3px solid #f1304c;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  padding: 13px 0;
  font-size: 12px;
  text-transform: uppercase; }
  .enter:hover {
    cursor: pointer; }

.content {
  padding-top: 40px;
  padding-bottom: 130px;
  text-align: center; }
  .content__title {
    font-size: 30px;
    color: #000;
    padding-bottom: 22px;
    margin-bottom: 55px;
    font-weight: normal;
    background: url(../assets/images/blue-line.png) center bottom no-repeat; }
  .content__txt {
    color: #000;
    font-size: 16px;
    margin-bottom: 55px; }
  .content__paragraph {
    width: 790px;
    font-size: 18px;
    color: #000;
    margin: 0 auto; }

.manual {
  min-height: 320px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 55px;
  padding-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px; }
  .manual__step {
    width: 223px;
    height: 223px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    padding-top: 25px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px; }
    .manual__step img {
      position: absolute;
      z-index: 1;
      left: 180px;
      top: 15px; }
    .manual__step--first {
      background: -webkit-gradient(linear, left top, right top, from(#f0cf30), to(#c2cc30));
      background: linear-gradient(to right, #f0cf30, #c2cc30);
      position: relative; }
      .manual__step--first:after {
        content: "";
        width: 226px;
        height: 55px;
        position: absolute;
        top: 212px;
        left: 127px;
        background: url(../assets/images/arrow1.png) no-repeat; }
    .manual__step--second {
      background: -webkit-gradient(linear, left top, right top, from(#accb30), to(#7cc730));
      background: linear-gradient(to right, #accb30, #7cc730);
      position: relative;
      padding-right: 15px; }
      .manual__step--second:after {
        content: "";
        width: 226px;
        height: 55px;
        position: absolute;
        top: -45px;
        left: 145px;
        background: url(../assets/images/arrow2.png) no-repeat; }
    .manual__step--third {
      background: -webkit-gradient(linear, left top, right top, from(#70c630), to(#69c173));
      background: linear-gradient(to right, #70c630, #69c173);
      position: relative; }
      .manual__step--third .manual__text {
        padding: 0 2px; }
      .manual__step--third:after {
        content: "";
        width: 226px;
        height: 55px;
        position: absolute;
        top: 210px;
        left: 155px;
        background: url(../assets/images/arrow3.png) no-repeat; }
    .manual__step--fourth {
      background: -webkit-gradient(linear, left top, right top, from(#69bf97), to(#69bbd8));
      background: linear-gradient(to right, #69bf97, #69bbd8);
      padding-left: 40px;
      padding-right: 20px; }
  .manual__number {
    font-family: 'LemonMilk';
    font-size: 25px;
    margin-bottom: 10px; }
  .manual__title {
    font-size: 18px;
    margin-bottom: 20px; }
  .manual__text {
    font-size: 14px; }
  .manual .icon {
    position: static;
    margin-top: 20px; }

footer {
  height: 157px;
  background: url(../assets/images/footer-bg.png) center no-repeat; }

.popup-rules {
  position: absolute;
  top: 119px;
  left: 50%;
  padding-top: 62px;
  padding-left: 41px;
  padding-right: 69px;
  margin-left: -480px;
  width: 960px;
  height: 760px;
  color: #000000;
  background: #ffffff;
  z-index: 10001;
  display: none; }
  .popup-rules--open {
    display: block; }

.popup-rules__title {
  font-size: 24px;
  margin-bottom: 40px;
  text-align: center; }

.popup-rules__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 156px;
  background: url(../assets/images/footer-bg.png); }

.popup-rules__text-wrapper {
  height: 455px;
  overflow-y: scroll; }

.popup-rules__text {
  margin-bottom: 30px;
  font-size: 14px; }
  .popup-rules__text:last-child {
    margin: 0; }

.popup-rules__discet,
.popup-rules__print {
  position: absolute;
  top: 15px;
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer; }

.popup-rules__discet {
  right: 115px;
  background: url(../assets/images/discet.png) center no-repeat; }

.popup-rules__print {
  right: 65px;
  background: url(../assets/images/print.png) center no-repeat; }

.popup-rules__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 41px;
  height: 41px;
  background: #ffffff;
  border: 2px solid #1e0e00;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  opacity: 0.3;
  cursor: pointer; }
  .popup-rules__close::before, .popup-rules__close::after {
    display: block;
    content: '';
    position: absolute;
    top: 9px;
    width: 2px;
    height: 20px;
    background: #1e0e00; }
  .popup-rules__close::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    left: 48%; }
  .popup-rules__close::after {
    right: 47%;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .popup-rules__close:hover {
    opacity: 1; }

.popup-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000; }

.library {
  padding-top: 38px;
  padding-bottom: 34px;
  font-size: 14px;
  color: #000000; }

.library__title {
  position: relative;
  margin-bottom: 69px;
  font-size: 30px;
  text-align: center; }
  .library__title::after {
    display: block;
    content: '';
    width: 267px;
    height: 13px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -133px;
    background: url(../assets/images/blue-line2.png); }

.library__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 860px;
  margin: 0 auto;
  font-size: 0; }

.library__item {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  margin-right: 20px;
  margin-bottom: 37px; }
  .library__item:nth-child(4n) {
    margin-right: 0; }

.library__item-title {
  font-size: 16px;
  margin-bottom: 18px; }

.library__item-mentor {
  font-size: 14px; }

.library__item-description {
  font-size: 14px; }

.gallery__list {
  width: 991px;
  margin: 0 auto; }

.gallery__item::after {
  display: block;
  content: '';
  clear: both; }

.gallery__item-logo,
.gallery__item-video,
.gallery__item-hello {
  float: left;
  margin-right: 30px; }

.gallery__item-logo {
  position: relative;
  top: 16px;
  left: 10px;
  margin-left: 20px; }

.gallery__item-hello {
  margin: 0;
  position: relative;
  top: 20px;
  width: 272px; }

.gallery__hello-title {
  display: block;
  font-size: 20px;
  margin-bottom: 26px; }

.gallery__hello {
  font-size: 14px; }
