* {
	box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  color: #fff;
  font-size: 12px;
}
.clearfix {
  &:after {
    content: "";
	display: table;
    clear: both;
  }
}
.container {
  @include container;
}