.logout {
	display: inline-block;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 20px;
	padding-right: 60px;
	border-radius: 30px;
	width: 230px;
	border: 5px solid #ffed00;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	background: url(../assets/images/btn-bg.png) no-repeat, linear-gradient(to right, #1da2e2, #1d9cdf);
	background-position: 85% center;
}