.manual {
  min-height: 320px;
  display: flex;
  padding-top: 55px;
  padding-bottom: 40px;
  justify-content: space-between;
  margin-bottom: 50px;
  &__step {
    width: 223px;
    height: 223px;
    border-radius: 50%;
    padding-top: 25px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    img {
      position: absolute;
      z-index: 1;
      left: 180px;
      top: 15px;
    }
    &--first {
      background: linear-gradient(to right, #f0cf30, #c2cc30);
      position: relative;
      &:after {
        content: "";
        width: 226px;
        height: 55px;
        position: absolute;
        top: 212px;
        left: 127px;
        background: url(../assets/images/arrow1.png) no-repeat;
      }
    }
    &--second {
      background: linear-gradient(to right, #accb30, #7cc730);
      position: relative;
      padding-right: 15px;
      &:after {
        content: "";
        width: 226px;
        height: 55px;
        position: absolute;
        top: -45px;
        left: 145px;
        background: url(../assets/images/arrow2.png) no-repeat;
      }
    }
    &--third {
      background: linear-gradient(to right, #70c630, #69c173);
      position: relative;
      .manual__text {
        padding: 0 2px;
      }
      &:after {
        content: "";
        width: 226px;
        height: 55px;
        position: absolute;
        top: 210px;
        left: 155px;
        background: url(../assets/images/arrow3.png) no-repeat;
      }
    }
    &--fourth {
      background: linear-gradient(to right, #69bf97, #69bbd8);
      padding-left: 40px;
      padding-right: 20px;
    }
  }
  &__number {
    font-family: 'LemonMilk';
    font-size: 25px;
    margin-bottom: 10px;
  }
  &__title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  &__text {
    font-size: 14px;
  }
  .icon {
    position: static;
    margin-top: 20px;
  }
}

.manual__mentor-mobile {
  display: none;
}

.manual__mentor-desktop {
  display: block;
}

@media #{$mobile-width} {
  .manual {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    margin-bottom: 10px;
  }
  .manual__title {
    margin-bottom: 10px;
    font-size: 12px;
  }
  .manual__number {
    font-size: 23px;
  }
  .manual__text {
    font-size: 12px;
  }
  .manual__step {
    width: 182px;
    height: 182px;
    margin-bottom: 30px;
    z-index: 10;
    &::after {
      width: 21px;
      height: 17px;
      top: 188px;
      left: 80px;
      background: url(../assets/images/arrow-down.png) center no-repeat;
    }
  }
  .manual__step--second,
  .manual__step--fourth {
    padding-left: 20px;
  }
  .manual .icon {
    margin-top: 3px;
  }
  .manual__mentor-desktop {
    display: none;
  }
  .manual__step--first img {
    top: 135px;
    left: 120px;
  }
  .manual__step--second img {
    left: -90px;
    top: 124px;
    z-index: 10;
  }
  .manual__step--third {
    z-index: 5;
  }
  .manual__step--third img {
    top: 180px;
    left: 123px;
  }
  .manual__mentor-mobile {
    display: block;
  }
}