.popup-rules {
  position: absolute;
  top: 119px;
  left: 50%;
  padding-top: 62px;
  padding-left: 41px;
  padding-right: 69px;
  margin-left: -480px;
  width: 960px;
  height: 760px;
  color: #000000;
  background: #ffffff;
  z-index: 10001;
  display: none;
  &--open {
    display: block;
  }
}

.popup-rules__title {
  font-size: 24px;
  margin-bottom: 40px;
  text-align: center;
}

.popup-rules__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 156px;
  background: url(../assets/images/footer-bg.png)
}

.popup-rules__text-wrapper {
  width: 895px;
  height: 455px;
  overflow-y: scroll;
}

.popup-rules__text-wrapper .popup-rules__text {
  padding-right: 30px;
}

.popup-rules__text {
  margin-bottom: 30px;
  font-size: 14px;
  &:last-child {
    margin: 0;
  }
}

.popup-rules__discet,
.popup-rules__print {
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
}

.popup-rules__discet {
  background: url(../assets/images/discet.png) center no-repeat;
  margin-right: 20px;
}

.popup-rules__print {
  background: url(../assets/images/print.png) center no-repeat;
}

.popup-rules__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 41px;
  height: 41px;
  background: #ffffff;
  border: 2px solid #1e0e00;
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
  &::before,
  &::after {
    display: block;
    content: '';
    position: absolute;
    top: 9px;
    width: 2px;
    height: 20px;
    background: #1e0e00;
  }
  &::before {
    transform: rotate(45deg);
    left: 48%;
  }
  &::after {
    right: 47%;
    transform: rotate(-45deg);
  }
  &:hover {
    opacity: 1;
  }
}

.popup-rules__button-wrapper {
  width: 100px;
  height: 32px;
  position: absolute;
  top: 15px;
  right: 60px;
}

.popup-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

@media #{$mobile-width} {
  .popup-rules {
    width: 80%;
    min-width: 280px;
    height: auto;
    top: 53px;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-left: 0;
    transform: translateX(-50%);
  }
  .popup-rules__title {
    padding-bottom: 90px;
    margin-bottom: 0;
  }
  .popup-rules__text-wrapper {
    width: auto;
    max-height: 406px;
  }
  .popup-rules__button-wrapper {
    width: 100px;
    height: 32px;
    top: 75px;
    right: 50%;
    margin-right: -60px;
  }
  .popup-rules__footer {
    display: none;
  }
  .scrollbar-rail>.scroll-element .scroll-element_size {
    background-color: #ab0b29;
  }
  .scrollbar-rail>.scroll-element .scroll-bar {
    background-color: #da022b;
  }
  .popup-rules__discet, .popup-rules__print {
    top: 70px;
  }
  .popup-rules__discet {
    right: 145px;
  }
  .popup-rules__print {
    right: 95px;
  }
}