.promo {
  padding-bottom: 75px;
  min-width: 1160px;
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translate(-50%);
  background: url(../assets/images/man.png) left top no-repeat, url(../assets/images/girl.png) right 10px no-repeat;
  &__wrapper {
    width: 545px;
    margin: 0 auto;
  }
  &__center {
    text-align: center;
  }
}

@media #{$mobile-width} {
  .promo {
    min-width: 320px;
    max-width: 1024px;
    background: none;
  }
  .promo__wrapper {
    width: 320px;
    margin: 0 auto;
  }
  .promo__wrapper .video {
    display: block;
    width: 271px;
    height: 153px;
    margin: 0 auto;
    position: relative;
    top: 105px;
  }
  .promo__center {
    position: relative;
    top: 120px;
  }
}