.share-links {
  position: absolute;
  bottom: 20px;
  right: 0;
  width: 340px;
  height: 50px;
  z-index: 100;
  &::before {
    display: block;
    content: '';
    position: absolute;
    top: 0px;
    left: 120px;
    width: 25px;
    height: 18px;
    background: url(../assets/images/left-arrow-share.png) center no-repeat;
  }
}

.share-text {
  display: inline-block;
  margin-left: 40px;
  width: 173px;
  height: 23px;
  background: url('../assets/images/share-text.png');
}

.share-link {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 3px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  &--yb {
    background: url(../assets/images/youtube.png)center no-repeat;
  }
  &--fb {
    background: url(../assets/images/facebook.png)center no-repeat;
  }
  &--in {
    background: url(../assets/images/instagram.png)center no-repeat;
  }
}

@media #{$mobile-width} {
  .share-links {
    width: 280px;
    right: 0;
  }
  .share-text {
    width: 135px;
    height: 34px;
    position: relative;
    top: 11px;
    right: 5px;
    margin-left: 20px;
    background: url("../assets/images/share-text-small.png") center no-repeat;
  }
}