.slogan {
  width: 545px;
  float: right;
  text-align: left;
  position: relative;
  &__logo {
    position: absolute;
    top: -60px;
    left: -440px;
  }
  &__text {
    font-family: 'Paddis Handwritten';
    font-size: 44px;
    padding-right: 45px;
    background: url(../assets/images/arrow-down.png) right 20px no-repeat;
  }
  &__title {
    font-family: 'Uni Sans Heavy CAPS';
    font-size: 50px;
    text-transform: uppercase;
    margin-top: 5px;
  }
  &__subtitle {
    font-family: 'Uni Sans Heavy CAPS';
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 11px;
    background: url(../assets/images/wave-line.png) left bottom no-repeat;
    background-size: 380px 11px;
  }
}

@media #{$mobile-width} {
  .slogan {
    width: auto;
    float: none;
    text-align: center;
  }
  .slogan__logo {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 264px;
    height: 149px;
  }
  .slogan__title {
    margin-top: 0;
    font-size: 32px;
    text-shadow: -3px 2px 12px rgba(0, 0, 0, 0.53);
  }
  .slogan__subtitle {
    display: none;
  }
  .slogan__text {
    font-size: 26px;
    background: url(../assets/images/arrow-down-slogan.png) center no-repeat;
    background-position: 175px 5px;
    background-size: 27px 11px;
  }
  .slogan__text-wrapper {
    position: relative;
    bottom: -120px;
    padding-left: 10px;
    margin: 0 auto;
    width: 295px;
    text-align: left;
  }
}
