.time {
  font-size: 22px;
  padding-left: 35px;
  padding-right: 35px;
  &__date {
    display: inline-block;
    text-align: center;
    margin-right: 50px;
    line-height: 20px;
  }
  &__value {
    font-family: 'Uni Sans Heavy CAPS';
    font-size: 56px;
    display: inline-block;
  }
  &__text {
    font-size: 12px;
  }
  &__about {
    display: inline-block;
    text-align: left;
    width: 120px;
    line-height: 35px;
    font-size: 27px;
  }
}

@media #{$mobile-width} {
  .time {
    position: absolute;
    top: -50px;
    left: 50%;
    padding: 0;
    margin-left: -100px;
    width: 200px;
    text-align: center;
  }
  .time__about {
    display: block;
    position: absolute;
    top: -50px;
    width: 200px;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
  }
  .time__date {
    margin: 0;
    margin-right: 10px;
  }
}