.winners-week {
  //width: 677px;
  //margin: 0 auto;
  position: relative;
  padding-bottom: 40px;
  text-align: center;
  color: #000000;
}

.winners-week__title {
  position: relative;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 40px;
  &::before,
  &::after {
    display: block;
    content: '';
    position: absolute;
  }
  &::after {
    bottom: -15px;
    left: 50%;
    margin-left: -245px;
    right: 0;
    width: 490px;
    height: 15px;
    background: url(../assets/images/blue-line-long.png) center no-repeat;
  }
}

.winners-week__list {
  position: relative;
  width: 677px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  font-size: 36px;
  text-align: left;
  color: #ff7002;
  text-transform: uppercase;
  li {
    position: relative;
    padding: 10px 0;
    padding-left: 205px;
    margin-bottom: 3px;
    border: 3px solid #ffa301;
    border-radius: 34px;
    &::before {
      display: block;
      content: '';
      position: absolute;
      top: 12px;
      left: 160px;
      width: 32px;
      height: 33px;
      background: url(../assets/images/cup.png) center no-repeat;
    }
    &:last-child {
      margin: 0;
    }
  }
}

.winners-week__list .social-link {
  position: absolute;
  top: 15px;
  z-index: 10;
  &--fb {
    right: 59px;
  }
  &--in {
    right: 17px;
  }
}

.winners-week__wrapper {
  position: relative;
  width: 677px;
  margin-left: auto;
  margin-right: auto;
  &::before,
  &::after {
    display: block;
    content: '';
    position: absolute;
    width: 228px;
    height: 349px;
  }
  &::before {
    width: 339px;
    height: 403px;
    top: -104px;
    left: -155px;
    background: url(../assets/images/splash-left-mentor.png) center no-repeat;
    z-index: 100;
  }
  &::after {
    top: -50px;
    right: -140px;
    background: url(../assets/images/splash-right.png) center no-repeat;
  }
}

.winners-week .swiper-pagination-bullet {
  border: 2px solid #4289cd;
}

.winners-week .swiper-pagination-bullet-active {
  background: #4289cd;
  box-shadow: none;
}

.winners-week .swiper-button-prev,
.winners-week .swiper-button-next {
  width: 22px;
  height: 80px;
  top: 140px;
  background-size: 22px 80px;
  z-index: 100;
}

.winners-week .swiper-button-prev {
  left: -140px;
  background: url(../assets/images/left-arrow-winners.png) center no-repeat;
}

.winners-week .swiper-button-next {
  right: -140px;
  background: url(../assets/images/right-arrow-winners.png) center no-repeat;
}

@media #{$mobile-width} {
  .winners-week__title {
    font-size: 18px;
  }
  .hand-written {
    font-size: 27px;
    top: 3px;
    left: 10px;
  }
  .winners-week__title::after {
    margin-left: -150px;
    width: 300px;
    height: 10px;
    background-size: 300px 10px;
  }
  .winners-week__wrapper {
    width: 320px;
  }
  .winners-week__list {
    width: 282px;
  }
  .winners-week__list li {
   padding: 10px 0;
   padding-left: 55px;
   font-size: 16px; 
  }
  .winners-week__list li::before {
    top: 7px;
    left: 20px;
    width: 24px;
    height: 25px;
    background-size: 24px 25px;
  }
  .winners-week__list .social-link {
    top: 2px;
    background-size: 24px 24px;
  }
  .winners-week__list .social-link--fb {
    right: 40px;
  }
  .winners-week__list .social-link--in {
    right: 8px;
  }
  .winners-week__wrapper::before,
  .winners-week__wrapper::after {
    display: none;
  }
  .winners-week .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0;
  }
  .winners-week .swiper-button-prev {
    background: url(../assets/images/arrow-left-blue.png) center no-repeat;
    top: 137px;
    left: 40px;
  }
  .winners-week .swiper-button-next {
    background: url(../assets/images/arrow-right-blue.png) center no-repeat;
    top: 137px;
    right: 40px;
  }
  .winners-week .swiper-container {
    height: 185px;
  }
}